
Valheim/BepInEx/config/BepInEx.cfg
Valheim/BepInEx/core
Valheim/BepInEx/patchers/SlimVML.Loader.dll
Valheim/InSlimVML
Valheim/changelog.txt
Valheim/doorstop_config.ini
Valheim/LICENSE
Valheim/valheim.exe
Valheim/winhttp.dll
Valheim/BepInEx/README.txt
Valheim/BepInEx/plugins/VortexWorlds
Valheim/BepInEx/plugins/*/__folder_managed_by_vortex
Valheim/BepInEx/plugins/vortex.deployment.json
Valheim/BepInEx/vortex.deployment.bepinex-root-mod.json
Valheim/BepInEx/plugins/*/*/__folder_managed_by_vortex
Valheim/BepInEx/plugins/*/*/*/__folder_managed_by_vortex
Valheim/BepInEx/plugins/ConfigurationManager
