./Valheim/InSlimVML
./Valheim/AdvancedBuiilder
./Valheim/vortex-worlds
./Valheim/changelog.txt
./Valheim/LICENSE
./Valheim/valheim.exe
./Valheim/winhttp.dll
./Valheim/BepInEx/core
./Valheim/BepInEx/patchers
./Valheim/BepInEx/vortex.deployment.bepinex-root-mod.json
./Valheim/BepInEx/plugins/VortexWorlds
./Valheim/BepInEx/plugins/ConfigurationManager
./Valheim/BepInEx/plugins/vortex.deployment.json
./Valheim/BepInEx/config/BepInEx.cfg
