Valheim/BepInEx/plugins/*.vortex_backup
Valheim/BepInEx/plugins/*/*.vortex_backup
Valheim/BepInEx/plugins/*/*/*.vortex_backup
Valheim/BepInEx/plugins/*/*/*/*.vortex_backup
Valheim/BepInEx/plugins/*/__folder_managed_by_vortex
Valheim/BepInEx/plugins/*/*/__folder_managed_by_vortex
Valheim/BepInEx/plugins/*/*/*/__folder_managed_by_vortex
Valheim/BepInEx/plugins/*/*/*/*/__folder_managed_by_vortex
Valheim/BepInEx/plugins/ConfigurationManager
Valheim/BepInEx/plugins/vortex*
Valheim/BepInEx/config/com.bepis.bepinex.configurationmanager.cfg
Valheim/BepInEx/patchers/BepInEx.MonoMod.HookGenPatcher/__folder_managed_by_vortex
Valheim/BepInEx/config/*/__folder_managed_by_vortex
*.vortex_lnk
Valheim/BepInEx/plugins/README
Valheim/BepInEx/plugins/MMHOOK
Valheim/BepInEx/config/bakaSpaceman.LastUsedWeapons.cfg
Valheim/BepInEx/config/net.mtnewton.gravekeeper.cfg
Valheim/BepInEx/config/randyknapp.mods.equipmentandquickslots.cfg
Valheim/BepInEx/config/virtuacode.valheim.emotewheel.cfg
Valheim/BepInEx/config/virtuacode.valheim.equipwheel.cfg
Valheim/BepInEx/config/virtuacode.valheim.equipwheelfour.cfg
Valheim/BepInEx/config/virtuacode.valheim.equipwheelthree.cfg
Valheim/BepInEx/config/virtuacode.valheim.equipwheeltwo.cfg
Valheim/BepInEx/config/aedenthorn.ClockMod.cfg
Valheim/BepInEx/config/aedenthorn.Compass.cfg
Valheim/BepInEx/config/com.rolopogo.plugins.exploretogether.cfg
